{:secrets #profile {:dev #include #join [#env HOME "/.secrets.edn"]
                    :prod {}}

 :database
 {:uri #env JDBC_DATABASE_URL}
 :app
 {:port #long #or [#env PORT 3000]
  :tokensign #profile {:dev #ref [:secrets :tokensign]
                       :prod #env SECRET}}}
