{:secrets #include #join [#env HOME "/.secrets.edn"]

 :database
 {:uri #profile {:dev #ref [:secrets :dburi]
                 :prod #env JDBC_DATABASE_URL}}
 :app
 {:port #long #or [#env APP_PORT 3000]
  :tokensign #profile {:def #ref [:secrets :tokensign]
                       :prod #env SECRET}}}
