{:linters
 {:unresolved-symbol
  {:exclude [(compojure.api.core/context)
             (compojure.api.core/GET)
             (compojure.api.core/ANY)
             (compojure.api.core/HEAD)
             (compojure.api.core/PATCH)
             (compojure.api.core/DELETE)
             (compojure.api.core/OPTIONS)
             (compojure.api.core/POST)
             (compojure.api.core/PUT)
             (phrase.alpha/defphraser)]}}}
